# Database 설정
POSTGRES_USER=myuser
POSTGRES_PASSWORD=changeme
POSTGRES_DB=mydb

# 인프라 설정
SERVER_IP=your.server.ip.here

DATABASE_URL=postgresql://myuser:changeme@localhost:5432/mydb

CHROMA_MODE=remote
CHROMA_SERVER_HOST=localhost
CHROMA_SERVER_PORT=8000

# NewsAPI Settings
NEWS_API_KEY=your_newsapi_key_here

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini
